@import '../../../sass/base/variables.scss';
.purchases{
    background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.3s ease-in-out;
    &__window{
        padding: 30px 30px 30px 30px;
        background-color: white;
        width: 900px;
        height: 600px;
        border-radius: 10px;
        border: 1px solid black;
        &__close {
            background: none;
            border:none;
            cursor: pointer;
            font-size: 32px;
            width: 25px;
            height: 25px;
            margin-top: 10px;
            margin-left: 95%;
            line-height: 24px;
        }
        &__list{
            max-height: 500px;
            overflow-y: auto;
            &__item{
                margin-top: 10px;
                border: 1px solid black;
                border-radius:10px;
                padding: 20px 20px 20px 20px;
                &__img{
                    margin-top: 10px;
                    width: 50px;
                    height: 50px;
                }
                &__title{
                    margin-top: 10px;
                }
                &__description{
                    margin-top: 10px;
                }
                &__cost{
                    margin-top: 10px;
                }
                &__btn{ 
                    margin-top: 10px;
                    background-color: $main-color;
                    border-radius: 10px;
                    border: 1px solid $main-color;
                    color: white;
                    width: 120px;
                    cursor: pointer;
                    transition: all 0.3s;
                    height: 30px;
                }
                &__btn:nth-child(2){
                    margin-left: 10px;
                }
                &__btn:hover{ 
                    background: white;
                    color:$main-color;

                }
            }
        }
    }
}
.moreDetailed{
    background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.3s ease-in-out;
    &__window{
        padding: 30px 30px 30px 30px;
        background-color: white;
        width: 400px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid black;
        &__close{
            background: none;
            border:none;
            cursor: pointer;
            font-size: 32px;
            width: 25px;
            height: 25px;
            margin-top: 5px;
            margin-left: 95%;
            line-height: 24px;
        }
        &__title{
            font-weight: bold;
        }
        &__wrapper{
            &__deliveryWrapper{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                &__item{
                    display: flex;
                    justify-content: center;
                    align-items:center;
                    width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    border: 1px solid black
                }
                &__item:first-child{
                    background-color:$main-color
                }
                &__itemSeparator{
                    margin-top: 30px;
                    color: gray;
                }
                &__itemSeparator:first-child{
                    color:$main-color;
                }
            }
            &__status{
                margin-top: 20px;
            }
            &__code{
                margin-top: 20px;
            }
        }
    }
}

.reviewCreate{
    background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.3s ease-in-out;
    &__window{
        padding: 30px 30px 30px 30px;
        background-color: white;
        width: 400px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid black;

        &__close{
            background: none;
            border:none;
            cursor: pointer;
            font-size: 32px;
            width: 25px;
            height: 25px;
            margin-top: 5px;
            margin-left: 95%;
            line-height: 24px;
        }
        &__title{
            font-weight: bold;
        }
    }
}
.review{
    background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.3s ease-in-out;
    &__window{
        padding: 30px 30px 30px 30px;
        background-color: white;
        width: 400px;
        height: 400px;
        border-radius: 10px;
        border: 1px solid black;

        &__close{
            background: none;
            border:none;
            cursor: pointer;
            font-size: 32px;
            width: 25px;
            height: 25px;
            margin-left: 95%;
            line-height: 24px;
        }
        &__form{
            display: grid;
            label{
               padding-top: 10px;
            }
            &__textarea{
                width: 100%;
                resize: none;
                padding-left: 5px;
                padding-top: 2px;
            }
            &__submit{
                background-color:$main-color;
                margin-top: 10px;
                border-radius: 10px;
                border: 1px solid $main-color;
                color: white;
                width: 120px;
                cursor: pointer;
                transition: all 0.3s;
                height: 30px;
                margin: 0 auto;
                margin-top: 30px;
   
            }
            &__submit:hover{
                color:$main-color; 
                background-color:white
            }

            &__input{
                padding-left: 5px;
               
            }
        }
    }

}