@import '../../../sass/base/variables.scss';
.create-product{
    background-color: rgba(0, 0, 0, 0.5); // Прозрачно-серый фон
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1.3s ease-in-out;
    &__window{
        padding: 30px 30px 30px 30px;
        background-color: white;
        width: 400px;
        height: 500px;
        border-radius: 10px;
        border: 1px solid black;
        &__close{
            background: none;
            border:none;
            cursor: pointer;
            font-size: 32px;
            width: 25px;
            height: 25px;
            margin-top: 10px;
            margin-left: 95%;
            line-height: 24px;
        }
        &__form{
            display: grid;
            &__label{
                margin-top: 15px;
            }
            &__input{
               
            }
            &__btn{
                margin: 0 auto;
                margin-top: 50px;
                background-color: $main-color;
                border-radius: 10px;
                border: 1px solid $main-color;
                color: white;
                width: 120px;
                cursor: pointer;
                transition: all 0.3s;
                height: 30px;
            }
            &__btn:hover{
                background: white;
                color:$main-color;
            }
            &__textarea{
                height: 60px;
                resize: none;
            }
        }
    }
}